In [46]:
import pandas as pd
import seaborn as sns
import json
from pandas.io.json import json_normalize
sns.set()

### Importing openFDA data on food CAERS** updated for 2018

###### We can not just load the data using pandas.read_json since it is nested JSON. Thus we have to load the data traditionally and use the pandas function json_normalize to flatten individual nested columns and load them as independent data frames first.

In [44]:
with open('food-event-fda.json') as f:
    d = json.load(f)

In [47]:
caers = json_normalize(d['results'])

In [53]:
caers.head()

,consumer.age,consumer.age_unit,consumer.gender,date_created,date_started,outcomes,products,reactions,report_number
0,43,Year(s),Male,20080207,20071022,"[DEATH, HOSPITALIZATION, VISITED AN ER]","[{'name_brand': 'CREAM OF CRAB SOUP', 'industr...","[FEELING OF BODY TEMPERATURE CHANGE, HAEMATOCH...",100216
1,54,Year(s),Male,20080214,20080205,"[REQ. INTERVENTION TO PRVNT PERM. IMPRMNT., OT...",[{'name_brand': 'LIFESMIRACLE BY DR. WAYNE GAR...,"[TENSION, STRESS, IMPAIRED HEALING, INSOMNIA, ...",100366
2,,Not Available,Male,20080222,20071108,[LIFE THREATENING],[{'name_brand': 'POST HONEY ROASTED HONEY BUNC...,"[HYPERSENSITIVITY, LOCALISED OEDEMA, SWELLING ...",100632
3,60,Year(s),Female,20080223,None,"[NON-SERIOUS INJURIES/ ILLNESS, VISITED A HEAL...","[{'name_brand': 'EQUATE BABY POWDER', 'industr...","[PRURITUS, RASH ERYTHEMATOUS, SKIN DISCOLOURAT...",100658
4,47,Year(s),Female,20080225,20080120,[NON-SERIOUS INJURIES/ ILLNESS],[{'name_brand': 'THE HEALING GARDEN SENSUAL TH...,[URTICARIA],100681

###### We notice that the products columns is still nested so let us normalize it

In [69]:
product = json_normalize(data=d['results'],
                          errors='ignore',
                          record_path='products', 
                         # meta=['consumer.age', 
                          #      'consumer.age_unit', 
                           #     'consumer.gender', 
                            #    'data_created',
                             #   'data_started',
                              # ]
                         )

In [70]:
product.head()

,industry_code,industry_name,name_brand,role
0,16,Fishery/Seafood Prod,CREAM OF CRAB SOUP,Concomitant
1,16,Fishery/Seafood Prod,RAW OYSTERS,Suspect
2,54,Vit/Min/Prot/Unconv Diet(Human/Animal),LIFESMIRACLE BY DR. WAYNE GARLAND,Suspect
3,05,Cereal Prep/Breakfast Food,POST HONEY ROASTED HONEY BUNCHES OF OATS CEREAL,Suspect
4,53,Cosmetics,EQUATE BABY POWDER,Suspect

###### We join the products and caers DataFrames and drop the nested 'products' column since we have already unpacked it.

In [76]:
data = pd.concat([caers, product], axis=1).drop(['products'], axis=1)

In [77]:
data.head()

,consumer.age,consumer.age_unit,consumer.gender,date_created,date_started,outcomes,reactions,report_number,industry_code,industry_name,name_brand,role
0,43,Year(s),Male,20080207,20071022,"[DEATH, HOSPITALIZATION, VISITED AN ER]","[FEELING OF BODY TEMPERATURE CHANGE, HAEMATOCH...",100216,16,Fishery/Seafood Prod,CREAM OF CRAB SOUP,Concomitant
1,54,Year(s),Male,20080214,20080205,"[REQ. INTERVENTION TO PRVNT PERM. IMPRMNT., OT...","[TENSION, STRESS, IMPAIRED HEALING, INSOMNIA, ...",100366,16,Fishery/Seafood Prod,RAW OYSTERS,Suspect
2,,Not Available,Male,20080222,20071108,[LIFE THREATENING],"[HYPERSENSITIVITY, LOCALISED OEDEMA, SWELLING ...",100632,54,Vit/Min/Prot/Unconv Diet(Human/Animal),LIFESMIRACLE BY DR. WAYNE GARLAND,Suspect
3,60,Year(s),Female,20080223,None,"[NON-SERIOUS INJURIES/ ILLNESS, VISITED A HEAL...","[PRURITUS, RASH ERYTHEMATOUS, SKIN DISCOLOURAT...",100658,05,Cereal Prep/Breakfast Food,POST HONEY ROASTED HONEY BUNCHES OF OATS CEREAL,Suspect
4,47,Year(s),Female,20080225,20080120,[NON-SERIOUS INJURIES/ ILLNESS],[URTICARIA],100681,53,Cosmetics,EQUATE BABY POWDER,Suspect

##  Data cleaning

#### Let's start with the consumer age. We notice something strange immediately when we see that there is a column labelled 'consumer.age_unit' indicating that the 'consumer.age' is not standarized. Thus we have to convert the values in 'consumer.age' to years based on what the corresponding 'consumer.age_unit' is. Below is a count of each of the different possible units.

In [81]:
data['consumer.age_unit'].value_counts()

Not Available    32759
Year(s)          31353
Month(s)          1138
Week(s)            145
Day(s)             119
Decade(s)            9
Name: consumer.age_unit, dtype: int64

In [ ]:
def convert_age